name: Package Extension

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Package and Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create ZIP archive
        run: |
          cd poe2-trade-extension
          zip -r ../poe2-trade-extension.zip ./*
          cd ..

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: poe2-trade-extension
          path: poe2-trade-extension.zip
          if-no-files-found: error

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          files: poe2-trade-extension.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
